body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#d-link a {
    color: #3691c9;
    text-decoration: none;
    font-weight: bold;
}

#d-link a:hover {
    color: rgb(41, 176, 230);
}

.main-content section {
    margin-bottom: 40px;
}

.main-content h2 {
    color: #000000; /* Azul mais escuro */
}

#imagem-principal {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}

.mud-cor:hover {
    background-color: skyblue;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
}

.mud-cor {
    display: block;
    width: 80px;
    padding: 5px;
}

abbr {
    text-decoration: none;
}

.movimento-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    transition: all 0.3s ease;
}

.movimento-img {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
}

.d-link a:hover {
    cursor: pointer;
    color: rgb(69, 182, 226);
}

.d-link a {
    display: block;
    padding: 5px;
    color: rgb(35, 173, 228);
    text-decoration: none;
    font-weight: bold;
}

#top-bar {
    width: 100%;
    height: 90px; /* Ajuste a altura conforme necessário */
    background-color: #ff833e;
    color: skyblue;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 60px; /* Centraliza o texto verticalmente */
    z-index: 1000; /* Garante que a barra fique acima de outros elementos */
    transition: transform 1s ease, opacity 1s ease;
}
#top-bar.visible2 {
    transform: translateY(0);
    opacity: 1;
}
#imagem-secundaria {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.mud-cor-sec {
    display: block;
    color: skyblue;
    text-decoration: none;
    float: left;
}

.link-origin:hover {
    color: rgb(255, 193, 58);
    cursor: pointer;
}

.link-origin {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    width: 0px;
    padding: 10px;
    height: 0px;
    border-radius: 20px;
    transition: all 0.4s ease-out;
}
.container-materiais {
    width: 80%;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.699);
    background-color: whitesmoke;
    margin: auto;
    padding: 13px;
    margin-bottom: 20px;
}
.link-materiais {
    color: rgba(255, 136, 0, 0.5);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s ease;
}
.link-materiais:hover {
    color: rgb(255, 136, 0);
}
#imagem-secundaria {
    border-radius: 50%;
    float: left;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.imagem-pequena-JVN {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.container-cor {
    background-image: url('imagens/faiscas.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 90px;
}
.section-transparence {
    background-color: rgba(0, 0, 0, 0.726);
    color: whitesmoke;
    font-size: 17px;
    padding: 15px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.container {
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.section {
    color: black;
    font-size: 17px;
    padding: 15px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.801);
}
footer {
    margin: auto;
    text-align: center;
    color: black;
    width: 100%;
    background-color: rgb(245, 245, 245);
}
#link-footer {
    color: rgba(255, 88, 27, 0.753);
    text-decoration: none;
    transition: all 0.3s ease;
}
#link-footer:hover {
    color: orangered;
}