
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
h1 {
    color: #65657D;
    text-transform: uppercase;
    font-weight: normal;
}
h2 {
    color: #65657D;
    text-transform: uppercase;
    font-weight: normal;
}
h3 {
    color: #65657D;
    text-transform: uppercase;
    font-weight: normal;
}
#top-bar {
    width: 100%;
    height: 90px; 
    font-weight: normal;
    position: fixed;
    text-align: center;
    line-height: 60px;
    z-index: 1000; 
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
    transform: translateY(-70%);
    backdrop-filter: blur(15px);
    border-bottom: 2px solid #04080f;
}
.mat {
    margin-top: 20px;
}
.h1-retorn {
    color: #507DBC;
    text-align: left;
    font-weight: normal;
}
.mavie {
    color: #65657D;
    text-align: left;
    font-weight: normal;
}
#imagem-holl {
    border-radius: 50%;
    float: left;
    width: 70px;
    padding: 0;
    height: 0;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.imagem-pequena-JVN {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#top-bar.visible2 {
    transform: translateY(0);
    opacity: 1;
}
.mud-cor-sec {
    display: block;
    color: skyblue;
    text-decoration: none;
    float: left;
}
.link-origin {
    color: #65657D;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    width: 0px;
    padding: 10px;
    height: 0px;
    border: 2px solid white;
    border-radius: 20px;
    transition: all 0.4s;
    margin-left: 5px;
    padding: 10px;
}
.link-origin:hover {
    border: 2px solid #A1C6EA;
    cursor: pointer;
}
#with-nord {
    font-size: 18px;
    margin-top: 15px;
    color: black;
    float: left;
}
.ancora-voltar {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
    float: right;
    margin-top: 30px;
    border: 2px solid rgba(245, 245, 245, 0.911);
}
.ancora-voltar:hover {
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}
.box-img-material {
    width: 100%;
    height: 340px;
    border: 2px solid black;
    border-top-left-radius: 1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 18px;
}
.img-material {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 18px;
}

.box-ancora-retorn {
    display: block;
    float: left;
    max-width: 200px;
    margin: 0;
}
.mavie {
    display: block;
}
.h1-mavie-box {
    text-align: center;
}
.breaking {
    width: 100%;
    margin-top: 120px;
}
blockquote {
    font-style: italic;
}
#imagem-menu {
    display: block;
    float: left;
    margin-top: 23%;
    margin-left: 15%;
    margin-right: 3%;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.div-img-conteudo {
    width: 98%;
    height: 100%;
    margin: auto;
}
.img-conteudo {
    width: 100%;
    height: 100%;
}
#imagem-menu {
            display: inline-block;
            transition: transform 0.6s ease;
        }
        
        #imagem-menu:hover {
            transform: rotate(180deg);
        }
@media screen and (max-width: 550px) {
    .box-img-material {
        height: 220px;
    }
    .img-material {
        height: 220px;
    }
}
.imagem-holl:hover .dropdown-menu {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}
.imagem-holl {
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.with {
    display: none;
    color: black;
    float: left;
    font-size: 20px;
}
@media screen and (max-width: 373px) {
    .with {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .imagem-holl {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .with {
        display: block;
    }
}
.importante-aviso {
    text-align: center;
    font: 18px;
}
.escrita-autor {
    font-style: italic;
    margin: auto;
    max-width: 800px;
}
.lista-estudo {
    display: block;
    margin: auto;
    max-width: 800px;
    margin-top: 20px;
}
main {
    width: 60%;
    height: 100%;
    background-color: whitesmoke;
    color: black;
    margin: auto;
    padding: 20px;
    border-radius: 13px;
    font-size: 20px;
    margin-bottom: 50px;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    main {
        font-size: 25px;
        max-width: 60%;
    }
    .box-img-material {
        height: 370px;
    }
    .img-material {
        height: 370px;
    }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    main {
        font-size: 28px;
        max-width: 70%;
    }
    .box-img-material {
        height: 400px;
    }
    .img-material {
        height: 400px;
    }
}
@media screen and (min-width: 2560px) {
    main {
        font-size: 32px;
        max-width: 70%;
    }
    .box-img-material {
        height: 440px;
    }
    .img-material {
        height: 440px;
    }
}
@media screen and (max-width: 670px) {
    .mavie {
        font-size: 23px;
    }
    .mat {
        border: 0;
        border: none;
    }
    main {
        width: 90%;
    }
}
.imagem-holl {
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.with {
    display: none;
    color: black;
    float: left;
    font-size: 20px;
}
@media screen and (max-width: 373px) {
    .with {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .imagem-holl {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .with {
        display: block;
    }
}
#imagem-menu {
    display: block;
    float: left;
    margin-top: 23%;
    margin-left: 15%;
    margin-right: 3%;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#imagem-menu {
            display: inline-block;
            transition: transform 0.4s ease;
        }
        
        #imagem-menu:hover {
            transform: rotate(180deg);
        }

.imagem-holl:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-item {
    position: relative;
}
.mat {
    margin-top: 120px;
}
@media screen and (max-width: 600px) {
    .mat {
        margin-top: 90px;
        background-color: white;
    }
}
.dropdown-menu {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: #eaeff0;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transform: translateY(-3%);
    transition: all 0.3s ease;
    visibility: hidden;
    text-align: left;
    height: 100vh;
    border-left: 2px solid #04080f;
}

.dropdown-menu a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    color: #65657D;
    border: 2px solid #eaeff0;
    font-weight: bold;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.dropdown-menu a:hover {
    border: 2px solid #A1C6EA;
}
#imagem-menu {
    display: block;
    float: left;
    margin-top: 23%;
    margin-left: 15%;
    margin-right: 3%;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.imagem-holl:hover .dropdown-menu {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.dropdown-item {
    position: relative;
}
main {
    background-color: white;
}
.conteudo {
    text-align: justify;
}
p {
    text-align: justify;
}