body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.input-pesquisar {
    width: 30%;
    float: right;
    margin-left: 30px;
    margin-right: 50px;
    padding: 20px;
    height: 5px;
    border-radius: 30px;
    font-size: 19px;
    transition: all 0.2s;
    margin-top: 3px;
    border: none;
    background-color: #A1C6EA;
    border: 2px solid #507DBC;
}
.input-pesquisar:hover {
    box-shadow: 1px 2px 5px #507dbca9;
}
.input-pesquisar-cell {
    width: 38%;
    float: left;
    padding: 20px;
    height: 5px;
    border-radius: 30px;
    font-size: 17px;
    transition: all 0.2s;
    margin-top: 20px;
    border: none;
    background-color: #A1C6EA;
    border: 2px solid #507DBC;
}
.input-pesquisar-cell:hover {
    box-shadow: 1px 2px 5px #507dbca9;
}
@media screen and (max-width: 600px) {
    .input-pesquisar {
        width: 84%;
    }
}
#d-link a {
    color: #3691c9;
    text-decoration: none;
    font-weight: bold;
}

#d-link a:hover {
    color: rgb(41, 176, 230);
}

.main-content section {
    margin-bottom: 40px;
}

.main-content h2 {
    color: #000000; 
}

#imagem-principal {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}

.mud-cor:hover {
    background-color: skyblue;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
}

.mud-cor {
    display: block;
    width: 80px;
    padding: 5px;
}

abbr {
    text-decoration: none;
}

.movimento-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    transition: all 0.3s ease;
}

.movimento-img {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
}

.d-link a:hover {
    cursor: pointer;
    color: rgb(69, 182, 226);
}

.d-link a {
    display: block;
    padding: 5px;
    color: rgb(35, 173, 228);
    text-decoration: none;
    font-weight: bold;
}

#top-bar {
    width: 100%;
    height: 90px; 
    background-color: white;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 60px;
    z-index: 1000; 
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
    transform: translateY(-100%);
}
#top-bar.visible2 {
    transform: translateY(0);
    opacity: 1;
}
#imagem-secundaria {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.mud-cor-sec {
    display: block;
    color: skyblue;
    text-decoration: none;
    float: left;
}
.link-origin {
    color: #65657D;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    width: 0px;
    padding: 10px;
    height: 0px;
    border: 2px solid white;
    border-radius: 25px;
    transition: all 0.4s;
    margin-left: 5px;
    padding: 10px;
}
.link-origin:hover {
    border: 2px solid #A1C6EA;
    cursor: pointer;
}
#with-nord {
    font-size: 18px;
    margin-top: 15px;
    color: black;
    float: left;
}
.container-materiais {
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgba(255, 153, 0, 0.863);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.699);
    background-color: whitesmoke;
    margin: auto;
    padding: 13px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}
.container-materiais:hover {
    background-color: rgb(255, 206, 116);
}
.link-materiais {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s ease;
}
#imagem-holl {
    border-radius: 50%;
    float: left;
    width: 70px;
    padding: 0;
    height: 0;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.imagem-pequena-JVN {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.box-img-what {
    display: block;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    float: right;
}
.user-name-display {
    color: black;
    font-size: 20px;
}
.container-cor {
    width: 100%;
    background-color: whitesmoke;
}
.filtro-box {
    display: flex;
    margin: auto;
    width: 90%;
    margin-left: 20px;
    margin-top: 0;
}
.button-filtro {
    max-width: 300px;
    font-size: 18px;
    padding: 10px;
    background-color: whitesmoke;
    border-radius: 30px;
    border: 2px solid #BBD1EA;
    margin-right: 10px;
    height: 45px;
    transition: all 0.2s;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    color: #65657D;
}
.button-filtro:hover {
    border: 2px solid #A1C6EA;
}
.slin-bar {
    width: 100%;
    height: 60px; 
    margin-top: 90px;
    background-color: #F1F1F1;
    font-weight: bold;
    border-bottom: 2px solid #17A1D2;
    position: absolute;
    text-align: center;
    line-height: 60px;
    z-index: 999;
    transition: transform 1.5s ease, opacity 1s ease;
    opacity: 0;
    transform: translateY(-100%);
}
.slin-bar.visible2 {
    transform: translateY(0);
    opacity: 1;
}
@media screen and (max-width: 600px) {
    .button-filtro {
        max-width: 180px;
        margin-left: 0;
    }
    #direita-button-flask {
        margin-left: 20px;
    }
}

footer {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    width: 100%;
    background-color: black;
}
#link-footer {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    margin: 10px;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    border: 2px solid rgba(245, 245, 245, 0.836);
}
#link-footer:hover {
    border: 2px solid #A1C6EA;
    color: #A1C6EA;
}
.link-contatos {
    text-decoration: none;
    transition: all 0.3s ease;
}
#link-contatos-gmail {
    color: rgb(255, 71, 71);
}
#link-contatos-gmail:hover {
    color: rgba(255, 0, 0, 0.877);
}
#link-contatos-what {
    color: rgb(0, 179, 0);
}
#link-contatos-what:hover {
    color: green;
}
.link-lideranca {
    text-decoration: none;
    color: #507DBC;
    font-weight: bold;
    transition: all 0.3s ease;
}

.imagem-holl {
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.with {
    display: none;
}
@media screen and (max-width: 373px) {
    .with {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .imagem-holl {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .with {
        display: block;
    }
}
.dropdown-menu {
    display: block;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    padding: 10px;
    z-index: 1;
    opacity: 0;
    transform: translateX(100px);
    transition: all 0.3s ease;
    visibility: hidden;
    text-align: left;
}

.dropdown-menu a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    color: #65657D;
    border: 2px solid white;
    font-weight: bold;
    transition: all 0.3s ease;
}

.dropdown-menu a:hover {
    border: 2px solid #A1C6EA;
}
#imagem-menu {
    display: block;
    float: left;
    margin-top: 23%;
    margin-left: 15%;
    margin-right: 3%;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.imagem-holl:hover .dropdown-menu {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
}

.dropdown-item {
    position: relative;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container-cor {
        height: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
        font-size: 25px;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 32px;
        max-width: 1200px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 300px;
    }
    .imagem-material {
        height: 100%;
    }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    .container-cor {
        height: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
        font-size: 25px;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 28px;
        max-width: 1100px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 370px;
    }
    .imagem-material {
        height: 100%;
    }
}
@media screen and (min-width: 2560px) {
    .container-cor {
        height: 100%;
    }
    footer {
        position: absolute;
        bottom: 0;
        font-size: 25px;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 28px;
        max-width: 1000px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 450px;
    }
    .imagem-material {
        min-height: 450px;
    }
}
.letras-recente {
    color: #EFFFFF;
    font-size: 20px;
    background-color: none;
    font-weight: normal;
}
.letras-antigo {
    color: #65657D;
    font-size: 20px;
    background-color: none;
    font-weight: normal;
}
.reflex-link-material {
    display: block;
    float: left;
    width: 100px;
    text-align: center;
    font-size: 15px;
    border: 2px solid #17A1D2;
    padding: 15px;
    border-top-left-radius: 1px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    text-decoration: none;
    transition: all 0.3s;
    background-color: none;
    color: #EFFFFF;
    font-weight: normal;
}
.reflex-link-material:hover {
    box-shadow: 1px 2px 5px #efffff6b;
}
#h1-recente {
    color: #FFFFFF;
    text-align: left;
    margin-left: 50px;
    font-size: 30px;
    font-weight: normal;
}
@media screen and (max-width: 600px) {
    #h1-recente {
        display: block;
        text-align: center;
        margin-left: 0;
    }
}
.section-transparence {
    background-color: whitesmoke;
    font-size: 17px;
    padding: 15px;
    width: 90%;
    margin: auto;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    opacity: 0; 
    animation: slideDown 0.5s ease forwards; 
} 