body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.input-pesquisar {
    width: 92%;
    padding: 20px;
    height: 40px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 22.5px;
    transition: all 0.5s;
}
.input-pesquisar:hover {
    border-radius: 50px;
}
@media screen and (max-width: 600px) {
    .input-pesquisar {
        width: 84%;
    }
}
#d-link a {
    color: #3691c9;
    text-decoration: none;
    font-weight: bold;
}

#d-link a:hover {
    color: rgb(41, 176, 230);
}

.main-content section {
    margin-bottom: 40px;
}

.main-content h2 {
    color: #000000; 
}

#imagem-principal {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}

.mud-cor:hover {
    background-color: skyblue;
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 10px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.397);
}

.mud-cor {
    display: block;
    width: 80px;
    padding: 5px;
}

abbr {
    text-decoration: none;
}

.movimento-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.3s;
    transition: all 0.3s ease;
}

.movimento-img {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
}

.d-link a:hover {
    cursor: pointer;
    color: rgb(69, 182, 226);
}

.d-link a {
    display: block;
    padding: 5px;
    color: rgb(35, 173, 228);
    text-decoration: none;
    font-weight: bold;
}

#top-bar {
    width: 100%;
    height: 90px; 
    background-color: #fae178;
    color: skyblue;
    font-weight: bold;
    position: absolute;
    text-align: center;
    line-height: 60px;
    z-index: 1000; 
    transition: transform 1s ease, opacity 1s ease;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.699);
    opacity: 0;
    transform: translateY(-100%);
}
#top-bar.visible2 {
    transform: translateY(0);
    opacity: 1;
}
#imagem-secundaria {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.mud-cor-sec {
    display: block;
    color: skyblue;
    text-decoration: none;
    float: left;
}
.link-origin {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 21px;
    width: 0px;
    padding: 10px;
    height: 0px;
    border: 2px solid #fae178;
    border-radius: 10px;
    transition: all 0.4s;
    margin-left: 5px;
    padding: 10px;
}
.link-origin:hover {
    border: 2px solid black;
    cursor: pointer;
}
.container-materiais {
    width: 80%;
    border-radius: 15px;
    border: 2px solid rgba(255, 153, 0, 0.863);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.699);
    background-color: whitesmoke;
    margin: auto;
    padding: 13px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
}
.container-materiais:hover {
    background-color: rgb(255, 206, 116);
}
.link-materiais {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.3s ease;
}
#imagem-holl {
    border-radius: 50%;
    float: left;
    width: 70px;
    padding: 0;
    height: 0;
    margin: 10px;
    display: block;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.616);
}
.imagem-pequena-JVN {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.box-img-what {
    display: block;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    float: right;
}
.user-name-display {
    color: black;
    font-size: 20px;
}
.container-cor {
    background-image: url('faiscas2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin-top: 90px;
}
.filtro-box {
    display: flex;
    margin: auto;
    width: 90%;
    margin-left: 20px;
    margin-top: 0;
}
.button-filtro {
    max-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 20px;
    margin-left: 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 30px;
    transition: all 0.2s;
    cursor: pointer;
}
.button-filtro:hover {
    background-color: black;
    color: whitesmoke;
    border: 2px solid black;
}
@media screen and (max-width: 600px) {
    .button-filtro {
        max-width: 180px;
        margin-left: 0;
    }
    #direita-button-flask {
        margin-left: 20px;
    }
}
.section-transparence {
    background-color: rgba(0, 0, 0, 0.815);
    color: whitesmoke;
    font-size: 17px;
    padding: 15px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    opacity: 0; 
    animation: slideDown 0.5s ease forwards; 
    border: 2px solid rgba(245, 245, 245, 0.788);
}
footer {
    margin: auto;
    text-align: center;
    color: black;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.836);
}
#link-footer {
    color: black;
    text-decoration: none;
    transition: all 0.3s ease;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-top: 30px;
    border: 2px solid rgba(245, 245, 245, 0.836);
}
#link-footer:hover {
    color: black;
    background-color: whitesmoke;
    border: 2px solid black;
}
.link-contatos {
    text-decoration: none;
    transition: all 0.3s ease;
}
#link-contatos-gmail {
    color: rgb(255, 71, 71);
}
#link-contatos-gmail:hover {
    color: rgba(255, 0, 0, 0.877);
}
#link-contatos-what {
    color: rgb(0, 179, 0);
}
#link-contatos-what:hover {
    color: green;
}
.link-lideranca {
    text-decoration: none;
    color: #a3eeff;
    font-weight: bold;
    transition: all 0.3s ease;
}

.imagem-holl {
    display: none;
    width: 50px;
    height: 50px;
    margin: 10px;
    float: right;
    margin-right: 30px;
}
.with {
    display: none;
    color: black;
    float: left;
    font-size: 20px;
}
@media screen and (max-width: 373px) {
    .with {
        font-size: 16px;
    }
}
@media screen and (max-width: 600px) {
    .imagem-holl {
        display: block;
    }
    .nav-menu {
        display: none;
    }
    .with {
        display: block;
    }
}
.dropdown-menu {
    display: block;
    position: fixed;
    top: 80px;
    right: 5px;
    background-color: whitesmoke;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    visibility: hidden;
    text-align: left;
}

.dropdown-menu a {
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    transition: all 0.3s ease;
}

.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.719);
    color: whitesmoke;
}

#imagem-menu {
    display: block;
    float: left;
    margin-top: 23%;
    margin-left: 15%;
    margin-right: 3%;
    width: 43px;
    height: 43px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#imagem-menu {
            display: inline-block;
            transition: transform 0.6s ease;
        }
        
        #imagem-menu:hover {
            transform: rotate(180deg);
        }

.imagem-holl:hover .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-item {
    position: relative;
}
@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .container-cor {
        height: 100%;
    }
    footer {
        height: 130px;
        position: relative;
        font-size: 25px;
        top: 100%;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 26px;
        max-width: 1200px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 350px;
    }
    .imagem-material {
        min-height: 350px;
    }
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
    .container-cor {
        height: 100%;
    }
    footer {
        height: 150px;
        position: relative;
        font-size: 25px;
        top: 100%;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 28px;
        max-width: 1100px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 400px;
    }
    .imagem-material {
        min-height: 400px;
    }
}
@media screen and (min-width: 2560px) {
    .container-cor {
        height: 100%;
    }
    footer {
        height: 150px;
        position: relative;
        font-size: 25px;
        top: 100%;
        margin: auto;
    }
    .section-transparence {
        height: 100%;
        font-size: 28px;
        max-width: 1000px;
    }
    #caixa-calendario {
        height: 800px;
        font-size: 30px;
        max-width: 1000px;
    }
    .material {
        padding-bottom: 37px;
    }
    .div-imagem-material {
        min-height: 450px;
    }
    .imagem-material {
        min-height: 450px;
    }
}
.material {
    border: 2px solid black;
}